<script setup lang="ts">
import MessageList from '@/components/MessageList.vue';
import MessageBox from '@/components/MessageBox.vue';
import { nextTick, ref } from 'vue';


const  messages = ref<string[]>([])
const answers = ['สวัสดีที่รัก' ,'ไปไหน', 'กินข้าวยาง','ไม่คุยด้วยแล้ว']
const messageList = ref<typeof MessageList | null>(null)

function send (message : string){
  messages.value.push(message)
  answerWithComputer()
}

function answerWithComputer() {
  const ranAns = Math.floor(Math.random()*10000) % answers.length
  const answer = answers[ranAns]
  messages.value.push(answer)
  nextTick(() => {
    messageList.value?.updateUI()
  })
  
}
</script>


<template>
  <div>
    <MessageList ref="messageList" :messages="messages"/>
    <MessageBox @send="send"/>
  </div>
</template>
